@charset "utf-8";
*, *:before, *:after {
    box-sizing: border-box
}
.container {
    font-family: "Tahoma", sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.password-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    padding: 20px;
    border: 1px solid #334499;
    border-radius: 6px;
    box-shadow: 0 0 10px #334499;
}
.input-wrapper {
    position: relative;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #334499;
}
.input-wrapper:first-of-type {
    margin-top: 24px;
}
.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}
.input-wrapper .icon-password {
    position: absolute;
    right: 12px;
    color: #777;
    width: 24px;
    top: 28px;
    cursor: pointer;
    z-index: 10;
    opacity: .6;
}
.input-wrapper .icon-password:hover {
    opacity: 1;
}
input {
    width: 100%;
    outline: none !important;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #777777;
}
input:focus {
    border: 2px solid #334499;
    padding: 9px;
}
.btn{
    margin: 40px auto 0 auto;
    width: fit-content;
    padding: 10px;
    max-width: 300px;
    background: #455BCC;
    border-radius: 6px;
    border: none;
    outline: unset;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: .1s ease;
    letter-spacing: 2px ;
}
.btn:hover {
    background: #334499;
}
span.error {
    position: absolute;
    top: 60px;
    left: 0;
    font-size: 15px;
    color: #ff0000;
}
@media (max-width: 600px) {
    .password-form {
        width: 80%;
    }
}
@media (max-width: 900px) {
    .password-form {
        width: 60%;
    }
}